#@@<h2><%= @pokemon.name %>
    <a href="/pokemon/<%=     @pokemon.id %>/edit">
        (edit)
    </a>
</h2>
<h4><%=                       @pokemon.poke_type %></h4>
<h3>pokemon</h3>
<ul>
    <%# @pokemon.each do |pokemon| %>
    <li>
        <a href="/pokemon/<%= @pokemon.id %>">
            <%=               @pokemon.poke_type %>
            (<%=              @pokemon.cp %>)
        </a>
    </li>
    <%# end %>
</ul>
<a href='/pokemons/<%=       @pokemon.id %>/edit'>Edit This pokemon</a>
